<aside class="sidebar">
    <h2 id="sidebar-title" class="sidebar-h2"><a href="/" style="color: white">Vapeur</a></h2>
    <nav class="sidebar-nav">
        <ul class="sidebar-nav-ul">
            <li id="sidebar-nav-item-home">
                <a href="/" class="sidebar-link">
                    <span class="icon-name">
                        <span class="icon icon-house"></span>
                        Accueil
                    </span>
                    <span class="arrow">›</span>
                </a>
            </li>
            <li id="sidebar-nav-item-games">
                <a href="/games" class="sidebar-link">
                    <span class="icon-name">
                        <span class="icon icon-games"></span>
                        Jeux
                    </span>
                    <span class="arrow">›</span>
                </a>
            </li>
            <li id="sidebar-nav-item-editors">
                <a href="/editors/" class="sidebar-link">
                    <span class="icon-name">
                        <span class="icon icon-editors"></span>
                        Editeurs
                    </span>
                    <span class="arrow">›</span>
                </a>
            </li>
            <li id="sidebar-nav-item-genres">
                <a href="/genres" class="sidebar-link">
                    <span class="icon-name">
                        <span class="icon icon-genres"></span>
                        Genres
                    </span>
                    <span class="arrow">›</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>