<h1>Editors</h1>
<form action="/editors" method="POST">
    <input type="text" name="name" placeholder="New Editor Name" required />
    <button type="submit">Add Editor</button>
</form>
<ul>
    {{#each editors}}
        <li>
            {{this.name}}
            <form action="/editor/{{this.id}}/update" method="POST" style="display:inline;">
                <input type="text" name="name" placeholder="Update Name" />
                <button type="submit">Update</button>
            </form>
            <form action="/editor/{{this.id}}/delete" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <a href="/editor/{{this.id}}/games">View Games</a>
        </li>
    {{/each}}
</ul>
