<h1>Créer un jeu</h1>
<form id="create-game" method="post">
    <label for="create-game-title"></label>
    <input type="text" id="create-game-title" name="title" placeholder="Titre de jeu" required>

    <label for="create-game-description"></label>
    <input type="text" id="create-game-description" name="description" placeholder="Description de jeu" required>

    <label for="create-game-date"></label>
    <input type="date" id="create-game-date" name="date" placeholder="Date de jeu" required>

    <label for="create-game-genre"></label>
    <select id="create-game-genre" name="genre">
        {{#each genres}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <label for="create-game-editor"></label>
    <select id="create-game-editor" name="editor">
        {{#each editors}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <label for="create-game-highlighted">Mettre le jeu en avant</label>
    <input type="checkbox" id="create-game-highlighted" name="highlighted">

    <button type="submit">Créer le jeu</button>
</form>